<article>
    <h1><a href="/post">My Second Post</a></h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil itaque vel et iste, voluptatem dignissimos, possimus eius enim maxime quia velit voluptate! Deleniti odit obcaecati culpa cum laboriosam fugiat pariatur.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione adipisci, animi error sed dolorum veritatis ducimus atque aspernatur laborum deleniti hic? Modi error vitae magni est blanditiis. Cum, numquam natus!
    </p>
</article>